/* * {
	border: 1px solid brown;
} */

html * {
	background-color: #242020;
	color: #f0e0e0;
}

/* body {
	width: 50%;
	margin: 0 auto;
}

aside {
	position: fixed;
	right: 0;
}

.timeline_container {
	display: grid;
} */