@charset "UTF-8";
@layer default, mediaqueries;

:root {
	--header-height: 0;
}

@layer default {

	html {
		& * {
			color: #f0e0e0;
		}

		background-color: #242020;
		min-width: 480px;
		width: 100%;
	}

	header {
		& * {
			background: none;
		}

		background: #80800080;
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		display: flex;
		min-width: calc(480px -16px);

		& ul li {
			display: inline-block;
			padding: auto;
		}
	}

	aside {
		background-color: red;
	}

	main {
		background-color: yellowgreen;
		margin-top: var(--header-height);
	}

	body {
		display: grid;
		grid-template-rows: 1fr auto;
		min-height: calc(100vh - 16px);
	}

	footer {
		grid-column: 1 / -1;
		text-align: center;
	}

}

@layer mediaqueries {
	@media screen and (max-width: 480px) {
		aside {
			display: none;
		}

		main {
			grid-column: 1 / -1;
		}

		body {
			grid-template-columns: 1fr;
		}
	}

	@media screen and (min-width: 481px) and (max-width: 768px) {
		body {
			grid-template-columns: 1fr 2fr 1fr;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 1024px) {
		body {
			grid-template-columns: 1fr 2.5fr 1fr;
		}
	}

	@media screen and (min-width: 1025px) {
		body {
			grid-template-columns: 1fr 3fr 1fr;
		}
	}
}